<html>
    <head>
        <title>
            My HTML Page
        </title>
        <style>

        </style>
    </head>
    <body >
        <h1>This is a static webpage served by Node.js</h1>
        <h2>Created by Ruturaj Patil</h2>
        <h3>TE</h3>
        <h3>307B033</h3>
        
    </body>
</html>